{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "importOrder": ['<THIRD_PARTY_MODULES>', '^(components|templates|lib)/(.*)$', '^[./,../]'],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "insertPragma": false,
  "embeddedLanguageFormatting": "auto",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "rangeEnd": 999999999999,
  "requirePragma": false,
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "vueIndentScriptAndStyle": false
}